
.tabla {
    width: 80%; 
    margin: 50px auto; 
    font-family: sans-serif;
}


table {
    width: 100%;
    border-collapse: collapse; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


thead tr {
    background-color: #009879; 
    color: #ffffff; 
    text-align: left;
}


th, td {
    padding: 12px 15px; 
    border: 1px solid #dddddd; 
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


tbody tr:hover {
    background-color: #c7f2e8;
    cursor: pointer;
}