@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  color-scheme: light dark;
  /* Paleta base modo claro */
  --color-bg: whitesmoke;
  --color-text: #333;
  --color-accent: #005C97;
  --color-accent-dark: #363795;
  --color-login-bg: rgba(255, 255, 255, 0.582);
  --color-border: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Paleta modo oscuro */
    --color-bg: #1e1e1e;
    --color-text: #eaeaea;
    --color-accent: #4A90E2;
    --color-accent-dark: #005C97;
    --color-login-bg: rgba(40, 40, 40, 0.7);
    --color-border: #444;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  color: var(--color-text);
}

.contenedor {
  display: flex;
  height: 100vh;
}

.izquierdo {
  flex: 1;
  background: linear-gradient(to top, var(--color-accent), var(--color-accent-dark));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
}

.logo {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 5px 5px 23px rgba(0,0,0,0.4);
}

.izquierdo h2 {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}

.derecho {
  flex: 1;
  display: flex;
  background: var(--color-bg);
  justify-content: center;
  align-items: center;
}

.login {
  width: 80%;
  max-width: 350px;
  background: var(--color-login-bg);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--color-text);
  font-size: 16px;
}

.input-group input {
  width: 100%;
  height: auto;
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  font-size: 14px;
  background: transparent;
  color: var(--color-text);
}

.login button {
  background: var(--color-accent);
  width: 100%;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login button:hover {
  background-color: var(--color-accent-dark);
}

/* Modo responsive */
@media (max-width: 900px) {
  .contenedor {
    flex-direction: column;
    height: auto;
  }

  .izquierda,
  .derecha {
    flex: none;
    width: 100%;
    height: auto;
    padding: 40px 0;
  }

  .izquierda {
    text-align: center;
  }

  .login {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: none;
  }
}
